.home-page {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.main-content {
  background:#12002b;
  display: flex; /* Ajoute ça */
  flex-direction: column; /* Optionnel selon structure */
  flex: 1;
  height: 100%;
}

.sign-in-page {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.bg-dark {
    background-color: #12002b;
    padding-top: 100px;
    padding-bottom: 200px;
    
  }

.main.bg-dark {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
}

.sign-in-content {
    text-align: center;
    color :#2c3e50;
    box-sizing: border-box;
    background-color: white;
    width: 300px;
    margin: 0 auto;
    padding: 2rem;
  }
 
.sign-in-header {
    display: flex;
    flex-direction: column; 
    align-items: center;     
    justify-content: center;
    gap: 15px; 
    margin-bottom: 1rem;
    color: #2c3e50;
}

.sign-in-icon {
    font-size: 1rem;
    color: #2c3e50;
  }

.sign-in-content h1 {
    font-size: 1.5rem;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    margin-top: 20px;
    color: #2c3e50;
  }

.input-wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 1rem;
  }

.input-wrapper label {
    font-size: 1rem;
    font-weight: bold;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #2c3e50;
  }
  
.input-wrapper input {
    padding: 5px;
    font-size: 1.2rem;
    background-color: white;
    color: #2c3e50;
  }


.input-remember {
    display: flex;
    align-items: center;
  }
  
.input-remember label {
    margin-left: 0.25rem;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #2c3e50;
    font-size: 1rem;
  
  }

#remember-me {
  width: 13px;
  height: 13px;
  color: #fff;
  }

input {
  background-color: white;
  cursor: pointer;
}

.custom-checkbox {
  appearance: none;
  width: 14px;
  height: 14px;
  border: 2px solid #ccc;
  background-color: white;
  cursor: pointer;
  border-radius: 2px;
  position: relative;
}

.custom-checkbox:checked {
  background-color: rgb(80, 80, 251); /* couleur de fond une fois cochée */
  border-color: rgb(80, 80, 251);
}

.custom-checkbox:checked::after {
  content: '';
  position: absolute;
  top: 0px;
  left: 4px;
  width: 2px;
  height: 6px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.sign-in-button {
  display: block;
  width: 108%;
  border-radius: 0px;
  padding: 8px;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1rem;
  border: none;
  background-color: #00bc77;
  color: #fff;
  text-decoration: underline;
  }
  
